.input-group {
  width: 85%;
  overflow: hidden;
  box-shadow: var(--box-shadow-effect);
  background-color: white;
}

input {
  flex: 1;
  /* min-width: 450px; */
  border: none;
  outline: none;
}

option {
  font-size: small;
}

select {
  font-size: small;
  max-width: 200px;
}

select {
  height: 65px;
  box-shadow: var(--box-shadow-effect);
}

input,
button {
  height: 65px;
  border: none;
  padding: none;
  background-color: transparent;
}

@media (max-width: 775px) {
  .container {
    flex-direction: column;
  }

  .input-group {
    width: 100%;
  }

  select {
    margin-top: 30px !important;
  }

  .left-column {
    justify-content: start !important;
  }
}
