option {
  font-size: small;
}

select {
  font-size: small;
}

input, select {
  height: 65px;
  box-shadow: 0px 0px 23px -1px rgba(189,189,189,0.75);
-webkit-box-shadow: 0px 0px 23px -1px rgba(189,189,189,0.75);
-moz-box-shadow: 0px 0px 23px -1px rgba(189,189,189,0.75);
}

select {
  max-width: 200px;
}

input[type='text']::placeholder {
  font-size: small;
  color: grey;
  padding-left: 10px;
  position: relative;
}

input[type='text'] {
  width: 400px;
  padding-left: 50px;
}

span {
  position: absolute;
  z-index: 1;
  padding: 5px;
  padding-top: 8px;
  padding-left: 25px;
  color: grey;
}