<div class="container d-flex justify-content-between p-0">
  <div class="form-group">
    <span><i class="fa-solid fa-magnifying-glass"></i></span>
    <input type="text" placeholder="Search for a city" class="form-control">
  </div>

  <select class="form-select form-select-lg w-25 m-0">
    <option selected disabled><small>Filter by region</small></option>
    <option>Africa</option>
    <option>America</option>
    <option>Asia</option>
    <option>Europe</option>
    <option>Oceania</option>
  </select>
</div>
