.input-group {
  width: 85%;
  overflow: hidden;
  box-shadow: var(--box-shadow-effect);
  background-color: white;
}

input {
  flex: 1;
  /* min-width: 450px; */
  border: none;
  outline: none;
}

.dropdown-toggle {
  box-shadow: var(--box-shadow-effect);
  width: 160px;
}

input,
button {
  height: 65px;
  border: none;
  padding: none;
  background-color: transparent;
}

li {
  cursor: pointer;
}


@media (max-width: 775px) {
  .container {
    flex-direction: column;
  }

  .input-group {
    width: 100%;
  }

  .dropdown-toggle {
    margin-top: 30px !important;
  }

  .left-column {
    justify-content: start !important;
  }
}
