<div class="container">
  <div class="row">
    <div class="col-md-6 p-0">
      <div class="input-group rounded">
        <button class="ps-3 pe-3">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <input type="text" placeholder="Search for a country" #country (keyup)="searchByCountryName(country.value)"/>
      </div>
    </div>

    <div class="col-md-6 d-flex justify-content-end p-0 left-column">
      <div class="dropdown">
        <button class="btn dropdown-toggle bg-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">Filter by region</button>

        <ul class="dropdown-menu mt-1">
          <li><span class="dropdown-item" (click)="assignRegion('All')">All</span></li>
          <li><span class="dropdown-item" (click)="assignRegion('Africa')">Africa</span></li>
          <li><span class="dropdown-item" (click)="assignRegion('Americas')">America</span></li>
          <li><span class="dropdown-item" (click)="assignRegion('Asia')">Asia</span></li>
          <li><span class="dropdown-item" (click)="assignRegion('Europe')">Europe</span></li>
          <li><span class="dropdown-item" (click)="assignRegion('Oceania')">Oceania</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
