<div>
  <app-navbar></app-navbar>
  <div class="container p-0 mt-4">
    <h1>There are {{ countries.length }} countries in this API</h1>
    <div class="card">
      <div class="card-img-top">
        <img [src]="countries[0].flags.png" alt="">
      </div>
      <div class="card-body">
        <h4 class="card-title">{{ countries[0].name.common }}</h4>
        <p>Population</p>
        <p>Region</p>
        <p>Capital</p>
      </div>
    </div>
  </div>
</div>

<!-- https://restcountries.com/v3.1/all?fields=name,region,flags,population -->
<!-- This is a link I have customised for the API endpoint -->